# Ignore these directories
Kurser/

# Ignore Logs
logs
*.log

# The file containing environment variables 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class